<div class="container text-center">
  <h1 style="margin-top: 20px">Calculadora de Média</h1>
  <div class="row row-cols-2">
    <div class="col" style="margin-top: 20px">
      <label class="col-form-label">AC1</label>
      <input
        type="number"
        id="input1"
        class="form-control border border-primary rounded"
      />
    </div>
    <div class="col" style="margin-top: 20px">
      <label class="col-form-label">AC2</label>
      <input
        type="number"
        id="input2"
        class="form-control border border-primary rounded"
      />
    </div>
    <div class="col">
      <label class="col-form-label">AG</label>
      <input
        type="number"
        id="input3"
        class="form-control border border-primary rounded"
      />
    </div>
    <div class="col">
      <label class="col-form-label">AF</label>
      <input
        type="number"
        id="input4"
        class="form-control border border-primary rounded"
      />
    </div>
  </div>
  <button
    (click)="calcular()"
    type="button"
    class="btn btn-primary"
    style="margin-top: 20px; width: 400px"
  >
    Calcular
  </button>
  <label
    id="label-resposta"
    style="
      margin-top: 80px;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 1cm;
    "
    >...</label
  >
</div>
